.fixed9{position:fixed; top:0}
.fixed8{position:fixed; top:75px;background-color:rgb(226, 226, 233);z-index: 1;width:100%}





@font-face {
	font-family: 'chancur';
	src: url('../fonts/chancur/chancur.eot');
	src: local('chancur'), url('../fonts/chancur/chancur.woff') format('woff'), url('../fonts/chancur/chancur.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_411">Text with this font applied</p> */
.chancur {
	font-family: 'chancur' !important;
}



.logo_pag{
      max-width: 500px;padding:10px;
    }

.lema_pag{
      max-width: 500px;padding:15px;
    }

.nav_pag{
	height: 245px
}

.nav_pag2{
	height: 75px;
	    background-color: #3F51B5;
}

@media only screen and (max-width: 560px) {
.logo_pag{
max-width: 348px;
padding:20px;
}
.lema_pag{
max-width: 348px;
padding:20px;
}
.nav_pag{
	height: 185px
}
}

@media only screen and (max-width: 370px) {
.logo_pag{
max-width: 250px;
padding:20px;

}
.lema_pag{
max-width: 250px;
padding:20px;

}
.nav_pag{
	height: 135px
}
}

@media only screen and (max-width: 990px) {
.minimi{
	font-size: 20px;
}
}

.w3-content{max-width:980px;margin:auto}

.w3-display-container{position:relative}

.w3-display-container:hover
{display:block;
display:inline-block}
