@font-face {
	font-family: 'chancur';
	src: url('./chancur.eot');
	src: local('chancur'), url('./chancur.woff') format('woff'), url('./chancur.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_411">Text with this font applied</p> */
.fontsforweb_fontid_411 {
	font-family: 'chancur' !important;
}

/* Font downloaded from FontsForWeb.com */